<footer>
    <div class="footer__div">
        <a href="/"><img class="footer__img" src="/images/logo.png" alt="logo"></a>
    </div>
    <ul class="footer__ul">
        <li class="footer__li"><p class="footer__p">Antonella Axelrad</li>
        <li class="footer__li"><p class="footer__p">Victoria Lynch</p></li>
    </ul>
</footer>