<header>
<nav>
    <img class="nav__img" src="/images/logo.png" alt="">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/bandas">Bandas</a></li>
      <li><a href="/bandas/generos">Generos</a></li>
    </ul>
</nav>
</header>